@font-face{
  font-family: Orbitron;
  src: url("Orbitron.ttf") format("truetype");
  }
@import url('lib.less');





body{
    background-color: rgb(117, 117, 117);
    margin: 0;
    padding: 0;
    font-family: Orbitron;
    #wrapper {
        @media (max-width: 1440px) {
            width: 1440px;
        }



        #block1{
            height: 950px;
            background-color: #000;
            position: relative;
            .fon{
                position: absolute;
                right: 0;
                height: 100%;
                width: 45%;
                background-color: #57B8FF;
                
            }


        }



        #block2{
            background-color: #FDD04A;
            box-sizing: border-box;
            padding: 107px 0 0 0;
            height: 500px;
            margin: 0 auto;
            position: relative;
            text-align: center;
            h2{
                margin: 0;
                color: #222730;
                font-weight: 400;
                font-size: 48px;
                line-height: 58px;
            }
            p{
                margin: 0;
                margin: 0 auto;
                margin-top: 44px;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #555555;
                width: 576px;
            }
            .line{
                position: absolute;
                top: 172px;
                left: calc(~'50% - 103px')
            }
            .cards200{
                margin-top: 41px;
                height: 90px;
                display: flex;
                justify-content: center;
                div{
                    box-sizing: border-box;
                    border-radius: 10px;
                    background-color: rgba(255, 255, 255, 0.3);
                    padding: 10px;  
                }
                >div{
                    flex-shrink: 0;
                    margin: 0 16px;
                    height: 89px;
                    width: 193px;
                    >div{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }//готово






        #block3{
            height: 1050px;
            background-color: #545454;
            background-image: url('image/300/fon.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            box-sizing: border-box;
            padding-top: 124px;
            text-align: center;
            .text301{
                color: #57B8FF;
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
            }
            h2{
                width: 716px;
                color: #FFFFFF;
                font-weight: 400;
                font-size: 64px;
                line-height: 74px;
                margin: 12px auto 0;
            }
            .text302{
                width: 750px;
                color: rgba(223, 223, 223, 0.8);
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                margin: 39px auto 0;
            }
        }









        #block4{
            height: 800px;
            background-color: #000000;
        }
        #block5{
            height: 700px;
            background-color: #2A313C;
        }







        #block6{
            height: 700px;
            background-color: #545454;
            display: flex;
            >div{
                box-sizing: border-box;
                flex-grow: 1;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;
                padding-top: 257px;
                p{
                    margin: 0;
                    margin-top: 30px;
                    color: #FFFFFF;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 58px;
                }
            }
            #fon601{
                background-image: url('image/600/fon601.png');
            }
            #fon602{
                background-image: url('image/600/fon602.png');
            }
            #fon603{
                background-image: url('image/600/fon603.png');
            }
        }//готово





        #block7{
            height: 1100px;
            background-color: #000000;
        }
        #block8{
            height: 700px;
            background-color: #939393;
            background-image: url('image/800/fon.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        #block9{
            height: 500px;
            background-color: #222730;
        }






    }
    .panelFigmaGit{
        margin: 0;
        padding: 0;
        position: fixed;
        top:1vh;
        right:1vh;
        .size(5vh,15vh);
        display: flex;
        flex-direction: column;
        img{
            margin: 0;
            .size(5vh,5vh);
        }

    }
}